*{
  background-color: rgb(31, 29, 29);
}
#container {
  display: flex;
  justify-content: center;
  padding: 0;
}
#tablero {
  display: flex;
  margin-top: 300px;
  background-color: rgb(7, 5, 5);
  transform: rotate(-90deg);
}
.position {
  transform: rotate(90deg);
  text-align: center;
  font-size: 80px;
  color: white;
}
.position img {
  margin-bottom: 30px;
  margin-left: 5px;
  width: 120px;
}
.signs {
  margin-bottom: 30px;
  margin-left: 5px;
  width: 120px;
}
.col{
  width: 120px;
  height: 120px;
  margin: 8px;
  margin-right: 2px;
}
.col1 {
  background-color: rgb(52, 52, 231);
}
.col2 {
  background-color: rgb(98, 98, 228);
}
.col3 {
  background-color: rgb(128, 152, 230);
}
.btn{
  width: 200px;
  font-size: 30px;
}